.home-page {
    background: linear-gradient(180deg, #f2fcff 0%, #ffffff 100%);
}

.homepage-content {
    padding-bottom: 2rem;
}

.home-hero {
    padding: 4rem var(--ifm-spacing-horizontal);

    &__container {
        max-width: var(--ifm-container-width);
        margin: 0 auto;

        @media screen and (min-width: 996px) {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    &__title {
        margin: 0 0 15px 0;
        font-size: 30px;
        font-weight: 500;
        letter-spacing: 0;
        line-height: 48px;

        @media screen and (min-width: 996px) {
            font-size: 37px;
        }
    }

    &__description {
        font-size: 16px;
        font-weight: 300;
        letter-spacing: 0;
        line-height: 26px;
        max-width: 400px;
    }

    &__container {
        @media screen and (min-width: 996px) {
            flex-direction: row;
            gap: 75px;
        }
    }

    &__image-wrapper {
        @media screen and (min-width: 996px) {
            max-width: 50%;
        }
    }

    &__image {
        max-width: 100%;
    }
}

.home-features {
    padding: 0 var(--ifm-spacing-horizontal);

    &__container {
        margin: 0 auto;
    }
}

.home-feature {
    margin: 0 0 15px 0;

    @media screen and (max-width: 996px) {
        text-align: center;
    }

    &__head {
        display: flex;
        align-items: center;
        margin: 0 0 15px 0;
    }

    &__image {
        margin: 0 15px 0 0;
    }

    &__icon {
        width: auto;
        height: 32px;
    }

    &__title {
        font-weight: 500;
        font-size: 22px;
        margin: 0;
    }

    &__description {
        font-size: 16px;
        line-height: 24px;
    }
}
