name: Create Changelog

on:
    push:
        branches:
            - release/*
            - hotfix/*
    workflow_dispatch:

permissions:
    contents: write
    pull-requests: write
    id-token: write

jobs:
    check-skip:
        runs-on: ubuntu-latest
        outputs:
            should_skip: ${{ steps.check.outputs.should_skip }}
        steps:
            - uses: actions/checkout@v4
              with:
                  fetch-depth: 2

            - name: Check if the commit is a release PR
              id: check
              run: |
                  COMMIT_MSG=$(git log -1 --pretty=%B)
                  if [[ $COMMIT_MSG == *"Merge pull request"* && $COMMIT_MSG == *"release-please--branches"* ]]; then
                    echo "should_skip=true" >> "$GITHUB_OUTPUT"
                  fi

    create-changelog:
        runs-on: ubuntu-latest
        needs: check-skip
        if: needs.check-skip.outputs.should_skip != 'true'

        steps:
            - name: Create release changelog & update version
              id: release
              uses: googleapis/release-please-action@v4
              with:
                  token: ${{ secrets.RELEASE_PLEASE_TOKEN }}
                  target-branch: ${{ github.ref_name }}
                  config-file: .github/workflows/release-please-config.json
                  manifest-file: .github/workflows/.release-please-manifest.json
