name: package-next

on:
    push:
        branches:
            - next
    workflow_dispatch:

jobs:
    build:
        runs-on: ubuntu-latest
        permissions:
            contents: read
            packages: write

        env:
            PUSH_CONDITION: true

        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: docker meta details
              id: meta
              uses: docker/metadata-action@v5
              with:
                  images: ghcr.io/${{github.repository}}
                  tags: |
                      type=raw,value=next
                      type=sha,prefix=next-,format=short

            - name: Set up QEMU
              uses: docker/setup-qemu-action@v3

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3

            - name: Login to Github Container Registry
              uses: docker/login-action@v3
              with:
                  registry: ghcr.io
                  username: ${{ github.repository_owner }}
                  password: ${{ secrets.GITHUB_TOKEN }}

            - name: Build and Push Release
              uses: docker/build-push-action@v5
              with:
                  push: ${{ env.PUSH_CONDITION }}
                  platforms: linux/amd64,linux/arm64
                  tags: ${{ steps.meta.outputs.tags }}
                  labels: ${{ steps.meta.outputs.labels }}
                  build-args: |
