name: Release

on:
    push:
        branches:
            - main
    workflow_dispatch:

permissions:
    contents: write

jobs:
    test-and-build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3

            - name: Install Node.js
              uses: actions/setup-node@v3
              with:
                  node-version: '18'
                  cache: 'yarn'

            - name: Install dependencies
              run: yarn install

            - name: Check linting
              run: yarn lint

            - name: Run tests
              run: yarn test

            - name: Build
              run: yarn build
    build_docs:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repository
              uses: actions/checkout@v4

            - name: Setup Node.js
              uses: actions/setup-node@v3
              with:
                  node-version: 21
                  cache: yarn

            - name: Install and build documentation
              run: |
                  cd documentation
                  yarn install --frozen-lockfile
                  yarn build
              env:
                  DOCS_BASE_URL: ${{ vars.DOCS_BASE_URL }}
                  DOCS_URL: ${{ vars.DOCS_URL }}

    release:
        needs: [test-and-build, build_docs]
        runs-on: ubuntu-latest
        outputs:
            new_version: ${{ steps.retrieve_version.outputs.new_version }}

        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            # Get the version from version.json file and store it in the output file
            - name: Get version from version.json
              id: retrieve_version
              run: |
                  new_version=$(jq -r '.version' version.json)
                  if [ -z "$new_version" ]; then
                    echo "Error: version field is empty or not found in version.json!"
                    exit 1
                  fi
                  echo "new_version=$new_version" >> "$GITHUB_OUTPUT"

            # Check if the tag already exists
            - name: Check if tag exists
              id: check_tag
              run: |
                  new_version=${{ steps.retrieve_version.outputs.new_version }}
                  if git ls-remote --tags origin | grep -q "refs/tags/$new_version$"; then
                    echo "Tag $new_version already exists, skipping release"
                    echo "tag_exists=true" >> "$GITHUB_OUTPUT"
                  else
                    echo "Tag $new_version does not exist, proceeding with release"
                    echo "tag_exists=false" >> "$GITHUB_OUTPUT"
                  fi

            # Create tag to the repository by using the version from the output file
            - name: Create tag
              if: steps.check_tag.outputs.tag_exists == 'false'
              id: create-tag
              run: |
                  new_version=${{ steps.retrieve_version.outputs.new_version }}

                  git config --global user.email "github-actions[bot]@users.noreply.github.com"
                  git config --global user.name "github-actions[bot]"
                  git tag -a "$new_version" -m "Release version $new_version"
                  git push origin "$new_version"

                  echo "new_tag=$new_version" >> "$GITHUB_OUTPUT"

            # Create GitHub release
            - name: Create GitHub Release
              if: steps.check_tag.outputs.tag_exists == 'false'
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              run: |
                  new_version=${{ steps.retrieve_version.outputs.new_version }}
                  new_tag=${{ steps.create-tag.outputs.new_tag }}

                  sed -n "/## \[$new_version\]/,/## \[/p" CHANGELOG.md | sed '$d' > release_notes.md

                  gh release create "$new_tag" \
                    --title "Release ${{ steps.retrieve_version.outputs.new_version }}" \
                    --notes-file release_notes.md \
                    --target ${{ github.ref_name }}
